<sa-navigable-page [primaryMenu]="primaryMenu">
  <sa-header [header]="headerConfig" class="page-header">
  </sa-header>
  <a name="basicInformation"></a>
<div class="div1">
  <span >Basic Information</span>

  </div>


  <a name="newItem"></a>
<div class="div2">
  <span >Team</span>

  </div>

  <a name="results"></a>
<div class="div3">
  <span >Results</span>
  <button mat-button (click)="addMenuItem()">Add</button>
  <button mat-button (click)="removeMenuItem()">Remove</button>
  </div>

</sa-navigable-page>
