<!-- <h3 style="float:right"> Navigation Menu Component </h3>
<sa-navigable-page [secondaryMenu]="secondaryNavMenu">

  <h3> Header Component </h3>
  <sa-base-page>
    <div class="page-header">
      <sa-header [header]="headerConfig" (primaryClick)="onPrimaryClick($event)"
        (secondaryClick)="onSecondaryClick($event)"></sa-header>
    </div>
  </sa-base-page>

  <h3> Short Number Pipe </h3>
  <ul>
    <li>10 => {{ 10 | abbreviateNumber: true}}</li>
    <li>143 => {{ 143 | abbreviateNumber: true}}</li>
    <li>-14.34 => {{ -14.34 | abbreviateNumber: true}}</li>
    <li>-$1,000000.00 => {{ '-$1,000000.00' | abbreviateNumber: true}}</li>
    <li>-$100000000000 => {{ '$-100000000000' | abbreviateNumber: true}}</li>
    <li>100065783884000 => {{ '100065783884000$' | abbreviateNumber: true}}</li>
    <li>fffff => {{ 'fffff' | abbreviateNumber}}</li>
  </ul>

  <p>{{date | dateTime:dateFormats.timeZoneAbb}}</p>
  <p>{{date1 | dateTime:dateFormats.timeZoneAbb}}</p>
  <p>{{date2 | dateTime:dateFormats.timeZoneAbb}}</p>


  <mat-list>
    <mat-list-item [saSpinner]="isSpin">Peach</mat-list-item>
    <mat-list-item>Mango</mat-list-item>
    <mat-list-item [saSpinner]="isSpin" [backgroundColor]="'green'" [diameter]="'15'">Apple</mat-list-item>
  </mat-list>

  <h3> Button Component </h3>
  <sa-button [config]="saveButtonConfig" (onClick)="onClick()"></sa-button>

  <br />
  <h3> Currency Inpput Component </h3>
  <mat-form-field>
    <mat-label>Currency</mat-label>
    <sa-currency-input></sa-currency-input>
  </mat-form-field>

  <h3> Filter Component </h3>
  <sa-data-filter [filters]='dataFilterConfigArray'></sa-data-filter>

  <h3> Date Time Component </h3>
  <mat-form-field>
    <mat-label>Enter Date</mat-label>
    <sa-date-picker [dateConfig]="dateConfig" [formControl]="data" (onSelection)="dateSelectionChange($event)"></sa-date-picker>
  </mat-form-field>

  <h3> More Menu Component </h3>
  <sa-more-menu [items]="menuItems"></sa-more-menu>

  <h3> Select Component </h3>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <sa-select [config]="selectOptions" [formControl]="select"></sa-select>
  </mat-form-field>

  <h3> Stepper Component </h3>
  <sa-stepper [value]="2" label='Stepper'></sa-stepper>

  <h3> Text Editor Component </h3>
  <form [formGroup]="editorForm">
    <mat-form-field style="width: 100%">
      <mat-label>Text Editor</mat-label>
      <sa-text-editor [required]="true" [formControl]="description" name="Description"></sa-text-editor>
    </mat-form-field>
  </form>

  <h3> Data Table Component </h3>
  <sa-button [config]="saveButtonConfig" (onClick)="updateTable()"></sa-button>
  <button mat-raised-button (click)="refreshTable()">Refresh Table</button>

  <sa-data-table [dataTable]="dataTable">
    <ng-template #listItemTemplate let-row="row">
      <mat-list-item>Area: {{row.area}} Line: {{row.line}} Machine: {{row.machine}}</mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
  </sa-data-table>
  <ng-template #selectOptionBody let-item>{{item}}</ng-template>

  <ng-template #myTemplate let-item>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteByIndex()">Delete By Index</button>
      <button mat-menu-item (click)="deleteByPredicate(item)">Delete By Predicate</button>
      <button mat-menu-item (click)="deleteByObject(item)">Delete By Object Matching</button>
    </mat-menu>
  </ng-template>

  <ng-template #colTemplate let-column="column" let-row="row">
    <div matTooltip="my tooltip ">
      Something very long that
    </div>
  </ng-template>



</sa-navigable-page> -->

<sa-data-table [dataTable]="dataTable">
  <ng-template #listItemTemplate let-row="row">
    <mat-list-item>Area: {{row.area}} Line: {{row.line}} Machine: {{row.machine}}</mat-list-item>
    <mat-divider></mat-divider>
  </ng-template>
</sa-data-table>
<div style="height: 1000px;">j</div>