<h3 style="float:right"> Navigation Menu Component </h3>
<sa-navigable-page [secondaryMenu]="secondaryNavMenu">

  <h3> Header Component </h3>
  <sa-base-page>
    <div class="page-header">
      <sa-header [header]="headerConfig" (primaryClick)="onPrimaryClick($event)"
        (secondaryClick)="onSecondaryClick($event)"></sa-header>
    </div>

    <div class="page-body">

    </div>
  </sa-base-page>

  <mat-list>
    <mat-list-item [saSpinner]="isSpin">Peach</mat-list-item>
    <mat-list-item>Mango</mat-list-item>
    <mat-list-item [saSpinner]="isSpin" [backgroundColor]="'green'" [diameter]="'15'">Apple</mat-list-item>
  </mat-list>

  <h3> Button Component </h3>
  <sa-button [config]="saveButtonConfig" (onClick)="isSpin = !isSpin;"></sa-button>

  <br />
  <h3> Currency Inpput Component </h3>
  <mat-form-field>
    <mat-label>Currency</mat-label>
    <sa-currency-input></sa-currency-input>
  </mat-form-field>

  <h3> Filter Component </h3>
  <sa-data-filter [filters]='dataFilterConfigArray'></sa-data-filter>

  <h3> Date Time Component </h3>
  <mat-form-field>
    <mat-label>Enter Date</mat-label>
    <sa-date-picker [dateConfig]="dateConfig"></sa-date-picker>
  </mat-form-field>

  <h3> More Menu Component </h3>
  <sa-more-menu [items]="menuItems"></sa-more-menu>

  <h3> Select Component </h3>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <sa-select [config]="selectOptions"></sa-select>
  </mat-form-field>

  <h3> Stepper Component </h3>
  <sa-stepper [min]="1" [max]="5" [value]="2" label='Stepper'></sa-stepper>

  <h3> Text Editor Component </h3>
  <form [formGroup]="editorForm">
    <mat-form-field style="width: 100%">
      <mat-label>Text Editor</mat-label>
      <sa-text-editor formControlName="description" name="Description"></sa-text-editor>
    </mat-form-field>
  </form>

  <h3> Data Table Component </h3>
  <sa-button [config]="saveButtonConfig" (onClick)="updateTable()"></sa-button>

  <sa-data-table  [dataTable]="dataTable"></sa-data-table>
  <ng-template #selectOptionBody let-item>{{item}}</ng-template>

  <ng-template #myTemplate>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </ng-template>

  <ng-template #colTemplate let-column="column" let-row="row">
    <div style="width: 100%; height: 100%;">
      <mat-form-field appearance="standard" [ngClass]="getClass(row)">
        <input matInput placeholder="label" [value]="row[column.key]">
      </mat-form-field>
    </div>
  </ng-template>



</sa-navigable-page>
